.DS_* 
.env.*
.htaccess
.htaccess*
.idea
.npmrc
.out.*
.rsync-ignore
*.local
*.log
*.sqlite
bun.lockb
dev-dist
dist
dist_electron
docker
internal
legacy
locales.zip
logs
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
production
tmp
video
www
yarn-error.log
